# Core dependencies
fastapi==0.95.1
uvicorn==0.22.0
pandas==2.0.1
pydantic-settings==2.0.0
python-dotenv==1.0.0

# Machine Learning and NLP
transformers==4.29.2
torch==2.0.1
sentence-transformers==2.2.2